
/*---------- /top・/regist・/bbs・/add ----------*/

@charset "UTF-18";
html {
    overflow-y: scroll;
}
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}

/*------------------------------ header ------------------------------*/
.nav-item{
	text-align: left;
	margin-left: 5%;
}

/*------------------------------ head ------------------------------*/
#sec1 {
	background-image: url(../img/SUNABACO1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    padding: 100px 50px 100px 50px;

}
#sec1 h1{
	font-size: 30px;
    line-height: 60px;
    padding: 10px 50px 20px 50px;
    color: #fff;
}
#sec1 p{
	font-size: 20px;
    line-height: 30px;
	padding: 20px 50px ;
    color: #fff;
}

/*------------------------------ footer ------------------------------*/
#SNS {
	display: flex;
	justify-content: center;
}
#SNS .twitter a[target=_blank] {
	background: url(./../img/Twitter2.png) right center/36px auto no-repeat;
    height: 100px;
	width: 100px;
	margin: 20px;
	padding: 20px;
}
#SNS .SUNABACO a[target=_blank] {
	background: url(./../img/yatusiro.png) right center/36px auto no-repeat;
	height: 100px;
	width: 100px;
	margin: 20px;
	padding: 20px;
}

/*------------------------------ ログイン(/top) & 新規登録(/regist) ------------------------------*/
#sec2 {
	margin-bottom: 36px;
}
#sec2 h2{
    font-size: 30px;
    line-height: 35px;
    padding: 40px 50px;
    font-weight: 200px;
}
#sec2 .btn{
	padding-top: 20px;
	padding-left: 180px;
}
#sec2 .regist{
	padding: 4px;
	padding-left: 168px;

}
#sec2 .btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  padding: 8px 32px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
a.btn--radius {
   border-radius: 100vh;
}

/*----- cp_name -----*/
.cp_name {
	position: relative;
	width: 80%;
	margin: 0px 40px 30px 36px;
}
.cp_name input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 70%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_name input[type=text]:focus {
	border-color: #da3c41;
}
.cp_name input[type=text] {
	padding-left: 4px;
}
.cp_name i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_name input[type=text]:focus + i {
	color: #da3c41;
}

/*----- cp_password -----*/
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 0px 40px 20px 36px;
}
.cp_password input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 70%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_password input[type=text]:focus {
	border-color: #da3c41;
}
.cp_password input[type=text] {
	padding-left: 4px;
}
.cp_password i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_password[type=text]:focus + i {
	color: #da3c41;
}

/*------------------------------ みんなの声に投稿!(/add) ------------------------------*/
.cp_chat {
	position: relative;
	width: 80%;
	margin: 20px 40px 20px 36px;
}
.cp_chat input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 70%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_chat input[type=text]:focus {
	border-color: #da3c41;
}
.cp_chat input[type=text] {
	padding-left: 4px;
}
.cp_chat i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_chat input[type=text]:focus + i {
	color: #da3c41;
}

/*------------------------------ みんなの声(/bbs) ------------------------------*/
#chat h2 {
    line-height: 35px;
    padding: 40px 15px 25px 15px;
	margin: 40px 20px 4px 20px;
}

/*吹き出し*/
.balloon_l,
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}

.says {
  max-width:500px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #99dddd;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}
.says p{
  display: flex;
  margin:8px 0 0 !important; 
}
.says p:first-child{
  margin-top:0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_l .says:after {
  left: -26px;
  border-right: 22px solid #99dddd;
}
.balloon_r .says:after {
  right: -26px;
  border-left: 22px solid #99dddd;
}
#chat .balloon_l{
	flex-direction: column-reverse;
}
#chat .says12{
    width: 320px;
	margin: 16px 16px 16px 8px;
}