<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" media="screen and (max-width:480px)" href="static/css/Bootstrap.css">
    <link rel="stylesheet" media="screen and (max-width:480px)" href="static/css/stylemobile.css">
    <script src="static/js/jquery-3.6.0.min.js"></script>
        
    <title>利用状況</title>

</head>

<body>
  <!------------ハンバーガーメニュー------------>
  <header class = "fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/map">AKIBACO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/map">利用状況</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#event">SUNABACO八代のイベント</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bbs">みんなの声</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/add" >みんなの声に投稿!</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
 </header>



  <!------------座席表 机------------>
  <section id="seat">
    <h2 class="text-center">利用状況</h2>
    <div class="container">
          <!--画面の大きさでカラムの位置が変わる指定 etc.."col-xl-4 col-md-6"-->
          <img calss="desk" src="static/img/doa2.png" width="100%" height="auto" class="card-img-top" alt="...">
    </div>
 </section>

  <!------------座席表 椅子------------>

  <section id="seat2">
    <div class="seet">
      <!-- <form action="/map" method="post">  -->

        <a href="/map/1"><img class="gazo seeet1" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[0]}}.png" alt="" id = "1" value="1" name="use_id"></a>
        <a href="/map/2"><img class="gazo seeet2" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[1]}}.png" alt="" id = "2" value="2" name="use_id"></a>
        <a href="/map/3"><img class="gazo seeet3" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[2]}}.png" alt="" id = "3" value="3" name="use_id"></a>
        <a href="/map/4"><img class="gazo seeet4" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[3]}}.png" alt="" id = "4" value="4" name="use_id"></a>
        <a href="/map/5"><img class="gazo seeet5" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[4]}}.png" alt="" id = "5" value="5" name="use_id"></a>
        <a href="/map/6"><img class="gazo seeet6" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[5]}}.png" alt="" id = "6" value="6" name="use_id"></a>
        <a href="/map/7"><img class="gazo seeet7" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[6]}}.png" alt="" id = "7" value="7" name="use_id"></a>
        <a href="/map/8"><img class="gazo seeet8" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[7]}}.png" alt="" id = "8" value="8" name="use_id"></a>
        <a href="/map/9"><img class="gazo seeet9" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[8]}}.png" alt="" id = "9" value="9" name="use_id"></a>
        <a href="/map/10"><img class="gazo seeet10" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[9]}}.png" alt="" id = "10" value="10" name="use_id"></a>
        <a href="/map/11"><img class="gazo seeet11" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[10]}}.png" alt="" id = "11" value="11" name="use_id"></a>
        <a href="/map/12"><img class="gazo seeet12" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[11]}}.png" alt="" id = "12" value="12" name="use_id"></a>
        <a href="/map/13"><img class="gazo seeet13" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[12]}}.png" alt="" id = "13" value="13" name="use_id"></a>
        <a href="/map/14"><img class="gazo seeet14" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[13]}}.png" alt="" id = "14" value="14" name="use_id"></a>
        <a href="/map/15"><img class="gazo seeet15" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[14]}}.png" alt="" id = "15" value="15" name="use_id"></a>
        <a href="/map/16"><img class="gazo seeet16" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[15]}}.png" alt="" id = "16" value="16" name="use_id"></a>
        <a href="/map/17"><img class="gazo seeet17" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[16]}}.png" alt="" id = "17" value="17" name="use_id"></a>
        <a href="/map/18"><img class="gazo seeet18" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[17]}}.png" alt="" id = "18" value="18" name="use_id"></a>
        <a href="/map/19"><img class="gazo seeet19" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[18]}}.png" alt="" id = "19" value="19" name="use_id"></a>
        <a href="/map/20"><img class="gazo seeet20" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[19]}}.png" alt="" id = "20" value="20" name="use_id"></a>
        <a href="/map/21"><img class="gazo seeet21" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[20]}}.png" alt="" id = "21" value="21" name="use_id"></a>
        <a href="/map/22"><img class="gazo seeet22" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[21]}}.png" alt="" id = "22" value="22" name="use_id"></a>
        <a href="/map/23"><img class="gazo seeet23" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[22]}}.png" alt="" id = "23" value="23" name="use_id"></a>
        <a href="/map/24"><img class="gazo seeet24" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[23]}}.png" alt="" id = "24" value="24" name="use_id"></a>
        <a href="/map/25"><img class="gazo seeet25" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[24]}}.png" alt="" id = "25" value="25" name="use_id"></a>
        <a href="/map/26"><img class="gazo seeet26" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[25]}}.png" alt="" id = "26" value="26" name="use_id"></a>
        <a href="/map/27"><img class="gazo seeet27" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[26]}}.png" alt="" id = "27" value="27" name="use_id"></a>
        <a href="/map/28"><img class="gazo seeet28" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[27]}}.png" alt="" id = "28" value="28" name="use_id"></a>
        <a href="/map/29"><img class="gazo seeet29" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[28]}}.png" alt="" id = "29" value="29" name="use_id"></a>
        <a href="/map/30"><img class="gazo seeet30" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[29]}}.png" alt="" id = "30" value="30" name="use_id"></a>
        <a href="/map/31"><img class="gazo seeet31" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[30]}}.png" alt="" id = "31" value="31" name="use_id"></a>
        <a href="/map/32"><img class="gazo seeet32" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[31]}}.png" alt="" id = "32" value="32" name="use_id"></a>
        <a href="/map/33"><img class="gazo seeet33" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[32]}}.png" alt="" id = "33" value="33" name="use_id"></a>
        <a href="/map/34"><img class="gazo seeet34" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[33]}}.png" alt="" id = "34" value="34" name="use_id"></a>
        <a href="/map/35"><img class="gazo seeet35" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[34]}}.png" alt="" id = "35" value="35" name="use_id"></a>
        <a href="/map/36"><img class="gazo seeet36" width="44px" height="30px"  magin="5px" src="static/img/{{seat_color[35]}}.png" alt="" id = "36" value="36" name="use_id"></a>
    </div>
  </section>
        <!-- <button class="gazo seeet1" width="44px" height="30px"  magin="5px" src="static/img/chairgreen.png" alt="" id = "1" type="submit" value="1" name="use_id"></button> -->
      


  <!------------お知らせ------------>
  <section id="event">
    <h2 class="text-center ">SUNABACO八代のイベント</h2>
    <div class="container">
      <div class="row">
        <div class="card col-xl-4 ">
          <a href="https://sunabaco.com/event/%e3%80%90%e5%85%ab%e4%bb%a3%e3%80%91wordpress%e4%bd%93%e9%a8%93%e8%ac%9b%e5%ba%a7-2/">
            <img src="static/img/wordpress体験講座.webp" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <p class="card-text">【八代】WordPress体験講座</p>
            <p class="card-text">開催日：2022/02/26</p>
            <p class="card-text">13:00 〜 16:00</p>
          </div>
        </div>
        <div class="card col-xl-4">
          <a href="https://sunabaco.com/event/web%e3%82%b9%e3%82%af%e3%83%ac%e3%82%a4%e3%83%94%e3%83%b3%e3%82%b0%e5%85%a5%e9%96%80-%e5%ae%9a%e6%9c%9f%e4%bd%9c%e6%a5%ad%e3%81%af%e3%83%97%e3%83%ad%e3%82%b0%e3%83%a9%e3%83%a0%e3%81%a7%e8%87%aa/">
            <img src="static/img/WEBタイピング入門.webp" class="card-img-top" alt="...">
          </a>
            <div class="card-body">
              <p class="card-text">WEBスクレイピング入門 - 定期作業はプログラムで自動化しよう！</p>
              <p class="card-text">開催日：2022/03/03</p>
              <p class="card-text">19:00 〜 22:00</p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!------------ footer ------------>
  <footer>
    <section id="SNS">
      <!--Twitter-->
      <div class="twitter">
        <br><a href="https://twitter.com/intent/tweet?hashtags=SUNABACOやつしろ,コワーキングスペース" target="_blank"></a>
      </div>

      <!--SUNABACO-->
      <div class="SUNABACO">
        <br><a href="https://sunabaco.com/yatsushiro/" target="_blank"></a>
      </div>
    </section>
  </footer>



  <!------------Js------------>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="static/js/test.js"></script>


</body>
</html>